<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/home.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="   
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
   
    <body>
    
      
        <img src= "fitm.png">
       
        <nav>
           
            <div class ="out">
            <ul>
             
               
                <a href="/login">
                <i class="fa-solid fa-right-from-bracket">ออกจากระบบ</i>
            
            </a>
        </div>
              
          

            </ul>
        </nav>
        <div class ="bar">
        <a href="/showgrade">
        <span class="fas fa-book fa-7x fa-center fa-border"> ผลการเรียน</span>
 </a><br><br>
        <a href="/showgrade">
        <span class="fas fa-calculator fa-7x fa-center fa-border"> คำนวณเกรดเฉลี่ย</span>

</div>

        
          
        
       
      
       
           
            
           
               


  

      
            

        

                
               
               
                    
                  
                    
               
               
                   
                

        </body>
        </html>
            