<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="/css/home.css">
    <title>ระบบคำนวณเกรดเฉลี่ยรวม(GPA)</title>
</head>
   
    <body>
    
      
        <img src= "fitm.png">
       
        <nav>
           
            
            <ul>
                <li><a href="/term">ผลการเรียน</a></li>
                <li><a href="/login">ออกจากระบบ</a></li>

            </ul>
        </nav>
        </body>
        </html>